.margin-25{
    margin-bottom: 1.25rem;
  }

.fixed-left{
    position: fixed;
}

.details-content{
    margin-left: 32em
}

.details-back-to-history{
    font-size: 2rem;
    cursor: pointer;
}

.icon{
    vertical-align: middle;
}

.header-font{
    font-size: 2rem;
}